.banner-section {
  .banner-content {
    h1 {
      font-size: 4.72rem;
      font-weight: 700;
    }
    p {
      color: #94a2b3;
    }
    .banner-btn-group {
      color: #94a2b3;
      button {
        margin-right: 10px;
      }
      a {
        margin-left: 10px;
        color: #94a2b3;
      }
    }
  }
}
